---
import Layout from "../layouts/Layout.astro";
import Redirects from "../pages/Redirects.astro";
import Butt0Ns from "./butt0ns.astro";
import Moving from "./Moving.astro";
---
<body class="flex flex-col min-h-screen">
  <header><b>cool buttons!</b></header>

<Layout title="buttons">
</Layout>

<main class="flex-grow">
<br>
<Moving />
<div class="mt-12 mx-5 gap-8">
	<div class="p-12 py-4 bg-gradient-to-br from-blue-400 via-blue-500 to-blue-700 border-4 border-blue-900 justify-center items-center flex flex-col text-xl text-white">
		<Redirects />
	</div>
	<br>
	<Butt0Ns />
</div>
</main>
<footer class="text-center"><span class="lowercase">by sarvesh</span></footer>
</body>